<section class="section">
  <div class="container cart">
    <h1 class="cart__title">Carrito de compras</h1>
    <div class="cart__container">
      <% cartItems.forEach((item) => {%>
        <div class="cart__item" id="<%= `product-${item.id}` %>"> 
          <div class="cart__item-image">
            <img
              src="<%= item.imgSrc %>"
              alt="<%= item.name %>"
              class="cart__item-image-content"
            />
          </div>
          <div class="cart__item-details">
            <div class="cart__item-header">
              <h2 class="cart__item-title"><%= item.name %></h2>
              <form action="/cart/delete-item" method="post">
                <button
                  class="button button--sm-icon button--outline"
                  aria-label="Eliminar artículo"
                  name="productId"
                  value="<%= item.id %>"
                >
                  <img src="/images/icons/trash.svg" alt="Eliminar artículo" />
                </button>
              </form>
            </div>
            <div class="cart__item-footer">
              <p class="cart__item-price">S/ <%= (item.price / 100).toFixed(2) %></p>
              <div class="cart__item-quantity">
                <form action="<%= item.quantity === 1 ? '/cart/delete-item' : '/cart/update-item' %>" method="post">
                  <input type="hidden" name="productId" value="<%= item.id %>">
                  <button
                    class="button button--sm-icon button--outline"
                    aria-label="Reducir cantidad"
                  >
                    <img src="/images/icons/minus.svg" alt="Reducir cantidad" />
                  </button>
                </form>
                <span class="cart__item-quantity-display"><%= item.quantity %></span>
                <form action="/cart/update-item" method="post">
                  <input type="hidden" name="productId" value="<%= item.id %>">
                  <input type="hidden" name="action" value="add">
                  <button
                    class="button button--sm-icon button--outline"
                    aria-label="Aumentar cantidad"
                  >
                    <img src="/images/icons/plus.svg" alt="Aumentar cantidad" />
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
      <div class="cart__total">
        <p>Total</p>
        <p>S/ <%= total.toFixed(2) %></p>
      </div>
      <div class="cart__action">
        <a class="button button--lg cart__action-button" href="/checkout"
          >Continuar Compra</a
        >
      </div>
    </div>
  </div>
</section>

